#content table {
  border-collapse: collapse;
}

#content td {
  width: 80px;
  height: 80px;
  border: 2px solid #222;
  text-align: center;
  vertical-align: middle;
  font-size: 42px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}